{% extends "layouts/main.html" %}

{% set pageName = "Are you currently employed as a qualified teacher?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["teacher-status"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["teacher-status"], href: "#teacher-status" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "teacher-status",
      fieldset: {
        legend: {
          text: "Are you currently employed as a qualified teacher?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors["teacher-status"] if errors else null,
      value: data["teacher-status"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
